
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.profileCard {
  background-color: white;
  align-self: center;
    padding: 1rem;
  justify-self: center;
  width: 20rem;
  height: auto;
}
.userImage {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 10rem;
  align-self: center;
}
.userDetailsCard {
  display: flex;
  padding-top: 0.5rem;
  padding-inline: 1rem;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
